@import './themes.scss';

.experience-details {
  display: flex;

  h2 {
    font-weight: 400;
    font-size: 1.4em;
    margin-bottom: 0;
    margin-top: 0;
  }

  p {
    text-align: left;
    margin-bottom: 10px !important;
  }

  .text {
    margin-left: 0.7em;
  }

  .vertical-line {
    align-self: center;
    background-color: var(--vertical-line);
    height: 100%;
    width: 0.1rem;
  }

  .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--circle);
  }
}
