@import './themes.scss';

.footer {
  position: bottom;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text);

  a,
  p {
    margin-bottom: 0;
  }

  a {
    font-size: inherit;
  }

  p {
    margin-right: 0.5rem;
  }

  @media only screen and (min-width: 768px) {
    margin: 1rem 2rem;
  }
}
