@import './themes.scss';

.container {
  color: var(--secondary-text);
  padding: 1.4rem 2rem;
  height: inherit;

  p {
    margin-bottom: 0;
  }

  h1 {
    color: var(--tertiary-text);
    margin-bottom: 1rem;
    margin-top: 0;
    padding-top: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.4em;
  }

  @media only screen and (min-width: 1024px) {
    padding: 1 1.5rem;
  }

  @media only screen and (min-width: 1400px) {
    padding: 0;
  }
}
