@import './themes.scss';

.header {
  color: var(--header);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 2rem 3rem 0 3rem;

  h1 {
    font-size: 1.5em;
    padding-top: 1rem;

    @media only screen and (min-width: 400px) {
      font-size: 2em;
    }
  }

  .toggle-icon {
    position: absolute;
    font-size: 2.2em;
    right: 0;
    top: 0;
  }
  
  .toggle-text {
    display: none;
  }

  @media only screen and (min-width: 1200px) {
    .toggle-icon {
      font-size: 2.7em;
      cursor: pointer;
      margin: 4px 12;
      position: absolute;
      right: 0;
      top: 0;
    }

    .toggle-text {
      font-size: 0.8em;
      position: absolute;
      top: 1rem;
      right: 2.2rem;
      margin: 4px 12px;
    }
  }
}
