@import './themes.scss';

.container {
  padding: 1rem 1rem 2rem;
}

.header {
  color: var(--header);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  h1 {
    font-size: 2.5em;
    padding-top: 1rem;
    margin-top: 0;

    @media only screen and (min-width: 400px) {
      font-size: 3em;
    }

    @media only screen and (min-width: 768px) {
      font-size: 4em;
      height: 100px;
      margin-top: unset;
    }
  }

  .toggle-icon {
    display: none;
  }

  .toggle-text {
    display: none;
    font-size: 0.8em;
    position: absolute;
    top: 1rem;
    right: 2.2rem;
    margin: 4px 12px;
  }

  .about {
    margin: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    display: flex;

    .header {
      padding: 1rem;
    }
  }

  .image {
    height: 350px;
    width: 100%;
    margin-bottom: 0;
    padding: 1rem;

    img {
      border-radius: 6px;
    }

    &:hover {
      opacity: 0.9;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    padding: 3rem 0 4rem;

    .header {
      padding: 1rem 3rem 0 1rem;

      .about {
        margin: 1rem 4rem;
      }
    }
  }

  .image {
    height: 100%;
    width: 280px;
  }

  .toggle-icon {
    display: block;
    font-size: 2.7em;
    color: inherit;
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
  }
}
