@import './themes.scss';

.portfolio {
  .sample-image {
    box-shadow: 0 0 0 4px var(--primary-bg), 0 0 0 5px var(--primary-border);
    margin: 0 auto;

    @media only screen and (min-width: 768px) {
      width: 100%;
      height: 100%;
    }

    @media only screen and (min-width: 1400) {
      width: 600px;
      height: 100%;
    }
  }

  h1 {
    font-weight: 400;
    color: unset;
    margin-bottom: 0;
    margin-top: 1rem;
    margin-left: 0;
    text-transform: unset;
    letter-spacing: unset;
  }

  .label {
    background-color: var(--label-bg);
    width: fit-content;
    color: var(--label-text);
    padding: 2px 7px;
    margin-right: 5px;
    white-space: nowrap;
    cursor: default;
  }

  .technologies {
    display: flex;
    margin-top: 4px;
    margin-bottom: 1rem;
  }

  .portfolio-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (min-width: 1200px) {
    .sample-image {
      transition: 0.5s ease;
      backface-visibility: hidden;
      margin: unset;
    }

    .portfolio-details {
      align-items: unset;
      margin-top: 1rem;
    }
  }

  @media only screen and (min-width: 1400px) {
    display: flex;

    &:hover .sample-image {
      opacity: 0.3;
    }

    &:hover .portfolio-details {
      background: var(--portfolio-bg);
      padding: 2rem;
      border-radius: 4px;
      opacity: 1;
    }

    .portfolio-details {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
  }
}
