body {
  --primary-bg: var(--white);
  --primary-container: 240, 228, 228;

  --primary-button: var(--theme-1);
  --primary-button-hover: var(--theme-4);
  --primary-button-hover-text: var(--theme-2);
  --primary-button-text: var(--theme-2);

  --primary-border: var(--theme-1);
  --secondary-border: #afa1a1;

  --primary-text: #796a6a;
  --secondary-text: var(--theme-2);
  --tertiary-text: #807373;
  --quaternary-text: var(--black);

  --primary-link: #975555;
  --primary-link-hover: #9e5252;

  --primary-icons: var(--theme-3);
  --primary-icons-hover: #856a57;
  --secondary-icons: var(--theme-2);
  --secondary-icons-hover:  var(--theme-4);
  --tertiary-icons: #6b5c5c;

  --circle: var(--theme-2);
  --vertical-line: #a78e8e;

  --label-bg: #505075;
  --label-text: var(--white);
  --header: var(--black);

  --filter-icon: invert(12%) sepia(3%) saturate(5034%) hue-rotate(314deg)
    brightness(80%) contrast(57%);
  --filter-icon-hover: invert(96%) sepia(28%) saturate(4569%) hue-rotate(292deg)
    brightness(113%) contrast(66%);

  --black: #000;
  --white: #fff;
  --theme-1: #e7d3d3;
  --theme-2: #4b4444;
  --theme-3: #9e8f84;
  --theme-4: #d4adad;
  --success: #84bb2b;
  --failed: #bb5252;
}

body.dark {
  --primary-bg: var(--theme-1);
  --primary-container: var(--theme-2);

  --primary-button: var(--theme-3);
  --primary-button-hover: var(--theme-6);
  --primary-button-hover-text: var(--theme-1);
  --primary-button-text: var(--white);

  --primary-border: #424e61;
  --secondary-border: #635b4d;

  --primary-text: #cbbcb1;
  --secondary-text: #e8e8e8;
  --tertiary-text: var(--theme-4);
  --quaternary-text: #e9c092;

  --primary-link: #e4c39d;
  --primary-link-hover: #e4c39d;

  --primary-icons: var(--theme-3);
  --primary-icons-hover: var(--theme-5);
  --secondary-icons: #cbbcb1;
  --secondary-icons-hover: var(--theme-6);
  --tertiary-icons: #9c8c8a;

  --circle: var(--theme-6);
  --vertical-line: var(--theme-3);

  --label-bg: var(--theme-6);
  --label-text: var(--black);
  --header: var(--white);

  --filter-icon: invert(100%) sepia(22%) saturate(2278%) hue-rotate(302deg)
    brightness(89%) contrast(76%);
  --filter-icon-hover: invert(82%) sepia(11%) saturate(1528%) hue-rotate(19deg)
    brightness(88%) contrast(85%);

  --theme-1: #15171a;
  --theme-3: #e06f6f;
  --theme-4: #f0807a;
  --theme-5: #f05454;
  --theme-6: #c0c271;
  --success: #b4e763;
  --failed: #bb5252;
}
