@import './themes.scss';

/* code taken from https://css-tricks.com/snippets/css/typewriter-effect/ */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

/* Global */
.line-1 {
  font-family: 'Sacramento', cursive;
  position: relative;
  border-right: 2px solid transparent;
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 1.2s steps(12) 1s 1 normal both,
    blinkTextCursor 800ms steps(12) 7 normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 6.8em;
  }
}

@media only screen and (min-width: 768px) {
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 6.6em;
    }
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: var(--header);
  }
  to {
    border-right-color: transparent;
  }
}
